<form action="/todo/edit/{{todo._id}}?_method=PUT" method="POST" style="display: inline;">
    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <input type="checkbox"  name="status" {{#if todo.status}} checked {{/if}}>
            </div>
        </div>
    <input class="form-control" type="text" name="name" value={{todo.name}} >
    <button class='btn btn-success' type='submit'> Save</button>
    <a class='btn btn-primary' href="/">Back</a>
    </div>
</form>

