<a href="/todo/create/new">create</a>
<ul>
    {{# each todos}}
        <li>{{this.name}}</li>
        <span>狀態<input type="checkbox"  name="status" {{#if this.status}} checked {{/if}} disabled></span>
        <a href="/todo/detail/{{this._id}}">Detail</a>
        <a href="/todo/edit/{{this._id}}">Edit</a>
        <form action="/todo/del/{{this._id}}?_method=Delete" method="POST" style="display: inline;">
            <button type="submit">刪除資料</button>
        </form>
    {{/ each}}
</ul>