<form action="/todo/input" method="POST">
    <div class="input-group mb-3">
        <input type="text" name="name">
        <div class="input-group-append">
            <button class='btn btn-primary' type="submit">新增</button>
        </div>
    </div>
</form>